<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Short Link</title>
    </head>
    <body>
        <header>
            <h1><a href='/'>Short Link</a></h1>
        </header>
        <main>
            <input type="text">
        </main>
    </body>
</html>